{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="post-page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post-title post-detail-title">
                        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                        <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                    </div>
                    <!-- TODO -->
                    <div id="toc" class="">
                        {{ .TableOfContents }}
                    </div>
                    <div class="post-content markdown">{{ .Content }}</div>
                    <div class="post-footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}.html">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <!-- 评论系统 -->
                {{ if .Site.Params.valine.enable }}
                {{ partial "comments.html" . }}
                {{ else }}
                <div class="doc-comments">{{ template "_internal/disqus.html" . }}</div>
                {{ end }}
            </div>
        </div>
    </div>
    <a id="back-to-top" href="#" class="back-to-top"><i class="ri-arrow-up-s-line"></i></a>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>